html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
body {
    text-align: center;
    font-family: 'Copse', serif;
}
#pics {
    width: 900px;
    height: 900px;
    border: solid 1px black;
    font-size: 0px;
    margin: auto;
}
img {
    width: 300px;
    height: 300px;
    border: 0px;
}